p {
    text-align: justify; 
    text-justify: inter-word;
    font-size: 12px;
}

h1 {

    text-align: center;
    font-size: 40px !important;
}

h3 {

    text-align: center;
    font-size: 28px !important;
}

/* Set font size for the sidebar navigation links */
.md-nav a {
    font-size: 12px;  /* Set the font size for sidebar links */
}

/* If you have a top navigation (for themes like Material) */
.md-header-nav a {
    font-size: 12px;  /* Set font size for top navigation links */
}

/* Increase the space between items in the sidebar navigation */
.md-nav .md-nav__item {
    margin-bottom: 12px; /* Add space between items in the sidebar */
    margin-top: 18px;
}

/* Optionally, set font size for nested items (if you have nested folders) */
.md-nav .md-nav__item--nested {
    font-size: 12px;  /* Change font size for nested items */
    margin-bottom: 13px;
}