/* General styling for paragraph text */
p {
    text-align: justify;
    text-justify: inter-word;
    font-size: 12px;
}

/* Center align the heading h1 */
h1 {
    text-align: center;
    font-size: 40px !important;
}

/* Center align the heading h3 */
h3 {
    text-align: center;
    font-size: 28px !important;
}

/* Flexbox layout for navigation items */
nav a {
    display: flex;              /* Use Flexbox layout */
    align-items: center;        /* Vertically center the icon and text */
    text-decoration: none;      /* Remove underline from links */
}

/* Adjust the icon position to be slightly above the text */
nav a i {
    font-size: 20px;            /* Adjust icon size */
    margin-right: 8px;          /* Add space between the icon and text */
    vertical-align: middle;     /* Default vertical alignment */
    margin-top: -5px;           /* Move the icon slightly upwards */
}

/* Adjust icon size for navigation items in the sidebar */
.md-nav i {
    font-size: 15px;            /* Change the size of the icon */
    margin-right: 5px;          /* Add space between icon and text */
    margin-top: -1px;           /* Move the icon slightly upwards in sidebar */
}

/* Set font size for the sidebar navigation links */
.md-nav a {
    font-size: 11px !important;  /* Set the font size for sidebar links */
}

/* Set font size for top navigation links */
.md-header-nav a {
    font-size: 11px;  /* Set font size for top navigation links */
}

/* Increase the space between items in the sidebar navigation */
.md-nav .md-nav__item {
    margin-bottom: 10px; /* Add space between items in the sidebar */
    margin-top: 20px;
}

/* Optionally, set font size for nested items (if you have nested folders) */
.md-nav .md-nav__item--nested {
    font-size: 12px;  /* Change font size for nested items */
    margin-bottom: 5px;
}
