/* Ensure there's no overflow in navigation links */
.md-nav__link, .md-header-nav__link {
    white-space: nowrap !important; /* Prevent wrapping */
    overflow:visible;     /* Ensure the text is not clipped */
    font-size: 17.5px !important;  /* Adjust font size for sidebar navigation */
    line-height: 1.45 !important; /* Set line height to provide enough space between lines */
}

/* Target the first .md-nav__item in the sidebar */
.md-nav--primary .md-nav__list .md-nav__item a {
    color: bisque;
    font-family: "Indie Flower", serif;
    margin-left: 20px;
}

.md-nav--secondary .md-nav__list .md-nav__item {
    color: bisque;
    font-family: "Indie Flower", serif;
    width: inherit;
}

.md-nav--secondary .md-nav__list .md-nav__item .md-ellipsis {
    font-size: 17.5px;
}

.md-nav--primary .md-nav__list .md-nav__item .md-nav__link:hover{
    color: #ffc0cb; 
    text-decoration:none;
}

.md-nav--primary .md-nav__list .md-nav__item .md-nav__link:active {
    color: #ffc0cb;
    text-decoration:none;
}

.md-nav--primary .md-nav__list .md-nav__item .md-nav__link:focus{
    color: #ffc0cb;
    text-decoration:none;
}

.md-nav--primary .md-nav__list .md-nav__item .md-nav__link:active{
    color: #ffc0cb;
    text-decoration:none;
}

.md-nav--primary .md-nav__list .md-nav__item .md-nav__item--active a {
    color: #ffc0cb;
    text-decoration:none;
}

.md-nav--secondary .md-nav__list .md-nav__item 

.md-nav--secondary .md-nav__list .md-nav__item .md-nav__link:hover{
    color: #ffc0cb; 
    text-decoration:none;
}

.md-nav--secondary .md-nav__list .md-nav__item .md-nav__link:active {
    color: #ffc0cb;
    text-decoration:none;
}

.md-nav--secondary .md-nav__list .md-nav__item .md-nav__link:focus{
    color: #ffc0cb;
    text-decoration:none;
}

.md-nav--secondary .md-nav__list .md-nav__item .md-nav__link:active{
    color: #ffc0cb;
    text-decoration:none;
}

.md-nav--secondary .md-nav__list .md-nav__item .md-nav__item--active a {
    color: #ffc0cb;
    text-decoration:none;
}

/* Target the top-level navigation list */
ul.md-nav__list[data-md-component="toc"] {
    margin-top: 20px;
}

/* Style list items */
ul.md-nav__list[data-md-component="toc"] .md-nav__item {
    margin-bottom: 5px;
}

/* Style links inside list items */
ul.md-nav__list[data-md-component="toc"] .md-nav__item .md-nav__link {
    text-decoration: none;
}

/* Hover effect for links */
ul.md-nav__list[data-md-component="toc"] .md-nav__item .md-nav__link:hover {
    color: #ffc0cb;
    text-decoration: none;
}

/* Style nested links */
ul.md-nav__list[data-md-component="toc"] .md-nav__item .md-nav__link {
    padding: 0px 3px 0px 0px;
}

/* Target active navigation item */
ul.md-nav__list[data-md-component="toc"] .md-nav__item .md-nav__link:active {
    color: #ffc0cb; /* Change the text color of the active item */
}

.md-nav__item .md-nav__link--active, .md-nav__item .md-nav__link--active code {
    color: #ffc0cb;
}

.md-sidebar__scrollwrap {
    -ms-overflow-style: none;  /* For Internet Explorer 10+ */
    scrollbar-width: none;  /* For Firefox */
}

/* Navigation Title */
.md-nav__title {
    font-size: 20px;
    margin-top: 130px;
    margin-bottom: 5px;
    line-height: 1.5;
    font-family: "Indie Flower", serif;
}

/* Target the <span> inside the label */
label.md-nav__link .md-ellipsis {
    font-size: 19px !important;
    font-family: "Indie Flower", sans-serif;
    margin-top: 5px;
    margin-bottom: 10px;
    vertical-align: middle;
    line-height: 1.4;
    display: flex;
    align-items: center; /* Vertically centers the items (icon + text) */
}

label.md-nav__link .md-ellipsis i {
    vertical-align: middle;
    margin-right: 7px;
}

